.parent_div {
  background-color: #f7fbff;
  padding: 3vh 6vw;
}

.h1 {
  font-weight: bold;
  font-size: 3rem;
  background-image: linear-gradient(to right, #353535, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
