.credits_page_div {
  min-height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.our_plans {
  border: 1px solid;
  display: inline-flex;
  border-radius: 3rem;
  border-color: #c1c1c1;
  color: #515151;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 2vh 1vw;
}

.h1 {
  font-weight: bold;
  font-size: 3rem;
  background-image: linear-gradient(to right, #353535, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.get_started {
  border: 1px solid;
  display: inline-flex;
  border-radius: 10px;
  background-color: #262626;
  color: #ffffff;
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 2rem 1vw;
  width: 12rem;
  justify-content: center;
  align-items: center;
}

.item_name {
  font-size: 1.5rem;
  color: #515151;
}

.item_desc {
  font-size: 1rem;
  color: #515151;
}

.item_price {
  font-size: 2.5rem;
  color: #515151;
}

.plans_parent_div {
  display: flex;
}

.plans_item_div {
  background-color: #ffffff;
  padding: 5vh 2vw;
  border: 1px solid #ededed;
  border-radius: 30px;
  margin: 3rem 1rem;
}

span {
  margin: 10px 0px;
}

img {
  margin: 10px 10px;
}

p {
  margin: 0px 10px;
}
