.h1 {
  font-weight: bold;
  font-size: 3rem;
  background-image: linear-gradient(to right, #353535, #9b9b9b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent_div {
  display: flex;
  justify-self: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20vh;
}
